* {
  box-sizing: border-box;
 }

body {
  margin: 0;
  background-color: #AAA;

}

header {

height: 15vh;
background-color: #666;

}

footer {

height: 5vh;
background-color: black;
width: 80%;
margin: 0 auto;
}


 .content {

height: 80vh;
width: 80%;
  background-color: white;
  margin: 0 auto;

 }
